<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="row">
  <button class="btn btn-primary" type="button">
    Enroll Course <span class="badge">{{courses?.length}}</span>
  </button>
</div>
<div class="table-responsive" *ngIf="courses">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Couse ID</th>
      <th>Course Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of allCourses; let i = index">
      <td>{{i+1}}</td>
      <td>{{course.courseId}}</td>
      <td>{{course.courseName}}</td>
    </tr>
    </tbody>
  </table>
</div>
